{%extends "base.html"%}

{%block title%} Index Page {%endblock%}

{%block content%}

<div class ='jumbotron container text-center p-1'>
    <h3>Index Page</h3>
</div>

<div class = 'container'>
    <div class = 'row'>
        <div class ='col'>
            <div class = 'jumbotron p-3'>


                <h3>
                Gerenciador de <b>Usuário</b>
                <button 
                    type="button"
                    class="btn btn-success float-right"
                    data-toggle="modal"
                    data-target="#MYMODAL">Add</button>
                </h3>



                <table class = 'table table-hover table-dark'>
                  
                    <tr class = 'text-center'>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Action</th>
                    </tr>

                    {%for data in all_data%}
                    <tr class = 'text-center'>
                        <td>{{data.id}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.email}}</td>
                        <td>{{data.phone}}</td>

                        <td>
                            <a data-toggle = "modal" data-target= "#MYMODAL{{data.id}}" class = 'btn btn-warning'>Edit</a>
                            <a
                            href= "{{url_for('delete',id=data.id)}}"
                            class = 'btn btn-danger'
                            onclick="return confirm('Quer mesmo deletar?')">Delet</a>
                        </td>
                    </tr>

<!-- MODAL UPDATE-->
<div id="MYMODAL{{data.id}}" class="modal fade" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Update Information</h4>
        </div>
        <div class="modal-body">
            <form action="{{url_for('update')}}" method="POST">
              <div class="form-group">
                  
                  <!--criou esse input Hidden com name 'id' para pegar ele pelo request.form-->
                  <input type="hidden"  name="id" value="{{data.id}}">

                  <label>Name:</label>
                  <input type="text" class="form-control" name="name" value="{{data.name}}">
              </div>

              <div class="form-group">
                  <label>Email:</label>

                  <input type="text" class="form-control" name="email" value="{{data.email}}">
              </div>

              <div class="form-group">
                  <label>Phone:</label>

                  <input type="text" class="form-control" name="phone" value="{{data.phone}}">
              </div>


              <div class="form-group">
                  <button class="btn btn-primary" type="submit">Update</button>
              </div>
            </form>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
  </div>
</div>




                    {%endfor%}

                </table>





            </div>
        </div>
    </div>

</div>


<!--Modal CREATE-->
<div class="modal fade" id="MYMODAL" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method ='POST' action = '{{url_for("create")}}'>
          <div class="form-group">
            <label class="col-form-label">Name:</label>
            <input type="text" class="form-control" name='name'>
          </div>
          <div class="form-group">
            <label class="col-form-label">Email:</label>
            <input class="form-control" name='email'>
          </div>
          <div class="form-group">
            <label class="col-form-label">Phone:</label>
            <input class="form-control" name='phone'>
          </div>
          <button type="submit" class="btn btn-primary">Add</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



{%endblock%}
